body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  background-color: #14213d;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: #ec7d10;
  text-decoration: none;
  transition: 0.3s;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
a:hover {
  color: #54494b;
  font-style: italic;
}
.maincontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
h1 {
  color:#8b1e3f;
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
h3{
  color: #8b1e3f;
  font-size: 2rem;
  text-align: left;
}
p {
  color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
nav {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ec7d10;
}
.primarycta {
  color: #ec7d10;
}
.topnav a {
  margin-right: 10px
}
.logo{
  width: 500px;
}
.profilecontent{
  width: 900px;
}
.whocontentalex{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
}
.whoimagealex{
  width: 200px;
  grid-area: 2/1/3/2;
}
.alextitle{
  grid-area: 1/2/2/3;
}
.alexcontent{
  grid-area: 2/2/3/3;
}
.whocontentsandy{
  display:grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
}
.whoimagesandy{
  width: 200px;
  grid-area: 2/1/3/2;
}
.sandytitle{
  grid-area: 1/2/2/3;
}
.sandycontent{
  text-align: left;
  grid-area: 2/2/3/3;
}
.whocontentjeremy{
  display:grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
}
.whoimagesjeremy{
  width: 200px;
  grid-area: 2/1/3/2;
}
.jeremytitle{
  grid-area: 1/2/2/3;
}
.jeremycontent{
  text-align: left;
  grid-area: 2/2/3/3;
}
.whocontentamelia{
  display:grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
}
.whoimageamelia{
  width: 200px;
  grid-area: 2/1/3/2;
}
.ameliatitle{
  grid-area: 1/2/2/3;
}
.ameliacontent{
  text-align: left;
  grid-area: 2/2/3/3;
}
.contactsocials{
  font-size: 3rem;
  text-align: center;
  color: #ec7d10;
}
.paraoffset{
  width: 900px;
}
.footertext{
  width: 900px;
  color: gray;
  opacity: 0.4;
}
.secretlink{
  text-align: center;
}
