body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  background-color: #14213d;
}
.maincontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
h1 {
  color:#8b1e3f;
  font-size: 3rem;
  text-align: center;
}
h2 {
  color: #54494b;
  font-size: 2rem;
  text-align: center;
}
p {
  color: #e5e5e5;
  font-weight: bold;
  font-size: 1.5rem;
}
nav {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ec7d10;
}
a {
  text-decoration: none;
}
.footer {
  text-align: right;
}
.topnav a {
  margin-right: 10px
}
a:hover {color: #54494b; font-style: italic;

}
.logo{
  width: 500px;

}
